# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust test build output
src-tauri/target-test
release/Open Local Assistant.exe
release/Open-Local-Assistant-0.1.0-setup.exe
release/onnxruntime.dll
release/sherpa-onnx-cxx-api.dll
release/sherpa-onnx-c-api.dll
release/onnxruntime_providers_shared.dll
